<!-- <div class="empad header-title"> -->
      <!-- <div class="logo empad row"> -->
        <div class="flex empad">
          <!-- swap image for profile later when convert to job portfolio -->
            <!-- <img class="logo"
              src="https://jdevoldemort.github.io/indigotm/images/indigotmlogomb.jpg"
              alt="Pokeball indigoTM logo"
            /> -->
            
      
          <!-- <div> -->
            <section class="flex">
          <!-- <h1 class="title">IndigoTM <span class="highlight"></span></h1> -->
      <!-- </div> -->
      
        <h1 class="title">WDD330 Portfolio</h1>
      <!-- </div> -->
      </section>
      </div>
        </div>
      
          <!-- <a class="login" href="/favorites/index.html">My Account</a> -->
          <nav class="nav">
            <ul>
              <!-- <li><a class="menubtn" href="#">&#9776;</a></li> -->
              <li><a class="bold" href="https://jdevoldemort.github.io/indigotm/index.html">IndigoTM Final Project</a></li>
              <li><a class="bold" href="https://github.com/JDeVoldemort/indigotm">IndigoTM Repository</a></li>
      
                <li><a href="https://trello.com/invite/b/ipIsdeF0/ATTIde8bd323824e7cf135c88c7dcd41c23aFAE87D9B/team3">Trello Board</a></li>
                <li><a href="">Portfolio video</a></li>
                <li><a href="https://imaginative-marigold-3495d7.netlify.app/">Sleeping Outside Project</a></li>
      
            </ul>
          </nav>